body{
  background-image: url("../img/shadow.png");
  background-size: cover;
  background-repeat: no-repeat;
}


.cool1{
  text-align: center;
  font-size: 200%;
  font-style: oblique;

}
.cool2{
  text-align: center;

}
.cool3{
  text-align: center;
  font-size: 200%;
  font-style: oblique;
}
.cool4{
  text-align: center;
  font-size: 200%;
  font-style: oblique;
}
.cool5{
  text-align: center;
  font-size: 200%;
  font-style: oblique;
}
